<h1>Property</h1>
<div class="card-deck" id="card-deck" style="display:flex; justify-content:space-between;">
    <% @property_items.each do |item| %>
        <% next if item.image_url == nil %>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=<%= item.image_url(:thumb).to_s %>>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
    <% end %>
</div>